.g-3{
    color:bisque;
    padding: 45px;
    width: 100%;
}

#caixa-form{
    height: fit-content;
}

.page-title{
    color: #b0bcff;
    background-color: black;
}

.form-control{
    background-color: black !important;
}

body{
    /* background-color: rgb(77, 77, 255) !important; */

}

.form-div{
    height: 800px;
    margin-top:0px; 
    padding-top:45px; 
    /* background-color:rgb(77, 77, 255); */
    background: linear-gradient(0deg, rgb(175, 175, 255), rgb(141, 128, 255), rgb(59, 150, 255));
    padding-bottom:10 px !important;
    align-items: center;
    justify-content: baseline;
}
.contact-form{
    /* background: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0)); */
    border: 5px solid black;
    border-radius: 5vw;
}