/* CONFIGURAÇÕES BÁSICAS */

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.caixa {
    display: flex;
    border: 1px solid black;
}

.mid {
    width: 50vw;
}

.side {
    width: 23.5vw;
}

.short {
    height: 10vw;
}

.average {
    height: 20vw;
}

.tall {
    height: 30vw;
}

.centro {
    justify-content: center;
    align-items: center;
}

.esquerda {
    justify-content: start;
    align-items: center;
}

.direita {
    justify-content: end;
    align-items: center;
}

.circulo {
    display: flex;
    height: 4vw;
    width: 4vw;
    border: 2px solid black;
    border-radius: 15vw;
    margin: 5px;
}

/* CONFIGURACOES ESPECIFICAS */

.hub-bar {
    width:7vw; height:18svw; background-color:gray; margin:10px; margin-right:0;
}

.hub-screen {
    width:40vw; height:18svw; background-color:black; margin: 10px; border-top-right-radius:5vw;border-bottom-right-radius:5vw; margin-left:0
}

.btn-buscar {
    width:6vw; height:4vw; background-color: black;
}

.btn-digitar {
    width:38vw; height:4vw;
}

.logo-store {
    width: 17vw; height: 7vw; background-image:url('img/store-logo.png'); background-size:contain;
}

.tiny-box{
    width: 10vw; height: 4.5vw;
}

.produto-slot{
    width:11vw;height:11vw;
}

#login-box {
    display: none;
    position: fixed;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

#login-box form {
    text-align: center;
}

#login-box label, #login-box input, #login-box button {
    display: block;
    margin-bottom: 10px;
}

#signup-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}