/* GERAL */

.row{margin: 20px}
.centro {display: flex; justify-content: center; align-items: center;}
.topo {display: flex; justify-content: baseline; align-items: center;}
.azul {background-color: rgb(212, 212, 212); border: 1px solid black;}
.container{color:rgb(0, 0, 0); color:rgb(184, 252, 254)}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 5vw;
    background-color: white;
    margin: 10px;
}

.title{
    justify-content:center !important; font-size: 3rem !important;  padding:1% !important;
}
.title-container{
    display: flex; flex-direction:row; align-items:center; border: 5px solid white; border-radius:100px; width:40%; justify-content:center;
}

.card-img{
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid rgb(0, 0, 0)
}

a{ color: black !important;}
body{background-color: rgb(10, 8, 32); color:wheat}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}


.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.kode-mono-regular {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* MEDIA QUERY */

@media only screen and (max-width: 767px) {
    .logo-img{
        width: 70%;
    }
    .nav-item{
        font-size: .75em;
    }

    .card-layout{
        font-size: .7em;
    }

    .card-img{
        margin-bottom: 5%;
    }
    .title{
        font-size: 1.2rem !important ;
    }
    .title-container {
        width: 100%;
    }

}

@media only screen and (min-width: 1024px) {
    .title{
        font-size: 2.3rem !important ;
    }
  }
  