/* GERAL */

.row{margin: 20px}
.centro {display: flex; justify-content: center; align-items: center;}
.topo {display: flex; justify-content: baseline; align-items: center;}
.azul {background-color: rgb(212, 212, 212); border: 1px solid black;}
.container{color:rgb(0, 0, 0); color:rgb(184, 252, 254)}

.dot {
    width: 2vw;
    height: 2vw;
    border-radius: 5vw;
    background-color: white;
    margin: 10px;
}

.title{
    justify-content:center !important; font-size: 3vw !important;  padding:1% !important; color: white;
}
.title-container{
    display: flex; 
    flex-direction:row; 
    align-items:center; 
    border: .05vw solid rgba(0, 153, 255, 0.6) !important; 
    box-shadow: 0 0 10px rgba(0, 153, 255,0.5);
    border-radius:100px; 
    width: 30%;
    padding: 1%;
    padding-left: 2%; 
    padding-right: 2%; 
    justify-content:center;
}

.sombra{
    border: .5vw solid rgba(0, 0, 0, 0.6) !important; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

.card-img{
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid rgb(0, 0, 0)
}




a{ color: black !important;}
body{background-color: rgb(10, 8, 32); color:wheat}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}


.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.kode-mono-regular {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.circle-container {display:flex; align-items:center; flex-direction:column}
.circle-text { font-size: 1.5vw !important; color: white;}

.circle {
    object-fit: cover;
    overflow: hidden;
    width: 11vw !important;
    height: 11vw !important;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 10px;
}

/* MEDIA QUERY */

@media only screen and (max-width: 767px) {

    .circle {
        width: 100% !important;
        height: 100% !important;
    }

    .circle-container {
        width: calc(50% - 20px) !important;
        height: 30% !important;
    
    }

    .circle-text {
        font-size: 3vw !important;
    }

    .logo-img{
        width: 70%;
    }
    .nav-item{
        font-size: .75em;
    }

    .card-layout{
        font-size: .7em;
    }

    .card-img{
        margin-bottom: 5%;
    }

    .title-container {
        width: 100%;
    }

    .title {
        font-size: 6vw !important;
    }

}

@media only screen and (min-width: 1024px) {

  }
  

