

.card-layout{
    box-shadow: 0 12px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 1%;
    background-color: rgb(15, 12, 48);
    background: linear-gradient(0deg, #000002, #000822);
    border: 2px solid rgba(142, 246, 255, 0.3);
}

.card-layout:hover{
    box-shadow: 0 17px 10px rgba(0,0,0,0.5);
    border: 3px solid rgba(48, 208, 223, 0.7);
}

.jump {
    transition: transform 0.3s ease;
}

.jump:hover {
    transform: translateY(-20px);
}


.logo-img {
    margin: 5%;
}

.car-container{

    object-fit: contain;
    overflow: hidden;
    height: auto;
}


.carousel-item img {
    width: 100% ;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.car-text {
    position: absolute;
    color: black;
    text-align: center;
}

.car-text:hover {
    cursor: pointer;
}

.carousel-text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;

}


.special-text {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(0, 0, 0); color: #ffffff;
    font-size: .95vw !important;
    padding: 1%;
    margin-top: 40px ;
    margin-bottom: 40px ;
    font-family: 'outfit';
    justify-content: center !important;
}



.special-text h1{
    font-family: 'bebas neue';
    font-size: 2vw;
}

.special-text button{
    border-radius: 50px;
    border: none;
    padding: 3%;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
   
}
.special-button:hover {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}



.upper-car{
    background-color:antiquewhite; color:black !important; text-align:center; border-top-left-radius: 10px; border-top-right-radius: 10px;
}

.badge{
    margin: 5%;
}

.nav-link {
    background-color: transparent !important;
    color: aliceblue !important;
}


.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
    background-color: #0000ff !important;
}

.form-control {
    background-color: rgb(255, 255, 255) !important;
}
.form-control:click{
    background-color: transparent !important;
    color: white !important;
}

.typing-container {
    padding-top: 1%;
     overflow: hidden; /* Oculta o texto que estiver fora do contêiner */
     border-bottom: 1px transparent #000; /* Adiciona uma linha horizontal */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
     width: 80%; /* Define a largura do contêiner */
}

/* Estilo do texto */
#typing-text {
    /* font-family: ; */
    font-size: 1.2rem !important;
    letter-spacing: 5px;
    line-height: -6px;
  display: inline-block; /* Torna o texto um bloco inline para ocupar a largura do contêiner */
  white-space: nowrap; /* Impede quebrar o texto em várias linhas */
  animation: typing 5s steps(40, end); /* Aplica a animação de digitação */
}

/* Animação de digitação */
@keyframes typing {
  from { width: 0; } /* Inicia o texto com largura 0 */
  to { width: 100%; } /* Aumenta a largura até 100% */
}


@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 2s;
}


@media only screen and (max-width: 767px){

    /* .car-container{
       height: 40vw;
    }
    .carousel-item {
        height: 40vw;
    } */

    .carousel-item img {
        width: 100%;
        height: auto;
    }

    .car-text{
        display: none;
    }

    .typing-container {
        display: none;
    }

    .circle {
        height: 50% !important;
    }


    .special-text{
        display: none;
    }
}   

@media only screen and (min-width: 1024px) {


    .special-text{
        font-size: 1rem;
    }

    .special-text img{
        width: 60% !important;
    }

    .circle{
        width: 150px !important;
        height: 50% !important;
    }

  }
  