

.card-layout{
    box-shadow: 0 12px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 1%;
    background-color: rgb(15, 12, 48);
    background: linear-gradient(0deg, #000002, #000822);
    border: 2px solid rgba(142, 246, 255, 0.3);
}

.card-layout:hover{
    box-shadow: 0 17px 10px rgba(0,0,0,0.5);
    border: 3px solid rgba(48, 208, 223, 0.7);
}

.jump {
    transition: transform 0.3s ease;
}

.jump:hover {
    transform: translateY(-20px);
}


.logo-img {
    margin: 5%;
}

.car-container{

    object-fit: contain;
    overflow: hidden;
    height: auto;
}


.carousel-item img {
    width: 100% ;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.car-text {
    /* font-size: 1.6rem; */
    display: flexbox;
    position: absolute;
    color: black;
    text-align: center;
}


.carousel-text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.nav-link {
    background-color: transparent !important;
    color: aliceblue !important;
}


.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
    background-color: #0000ff !important;
}

.form-control {
    background-color: rgb(255, 255, 255) !important;
}
.form-control:click{
    background-color: transparent !important;
    color: white !important;
}



/* .car-top-left { top: 0; left: 0; transform: translate(250px, 50px); text-align: left !important;}

.car-top-right { top: 0; right: 0; transform: translate(-50px, 50px); }

.car-bottom-left { bottom: 0; left: 0; transform: translate(50px, -50px); }

.car-bottom-right { bottom: 0; right: 0; transform:translate(-50px, -50px); } */

@media only screen and (max-width: 767px){

    /* .car-container{
       height: 40vw;
    }
    .carousel-item {
        height: 40vw;
    } */

    .carousel-item img {
        width: 100%;
        height: auto;
    }

    .car-text{
        display: none;
    }
}   